.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
}

.nav {
  margin-top: 20px;
}

.nav button {
  margin-right: 10px;
}

.active-customers, .trending-hotels, .profile-dropdown {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.table th {
  background-color: #333;
  color: #fff;
}
/* update-description.css */
.update-description-form {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.update-description-form label {
  display: block;
  margin-bottom: 10px;
}

.update-description-form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.update-description-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.update-description-form button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.update-description-form button[type="submit"]:hover {
  background-color: #3e8e41;
}

/* add-new-room.css */
.add-new-room-form {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-new-room-form label {
  display: block;
  margin-bottom: 10px;
}

.add-new-room-form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
}

.add-new-room-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
}
.add-new-room-form small {
  margin-bottom: 10px;
}

.add-new-room-form button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}

.add-new-room-form button[type="submit"]:hover {
  background-color: #3e8e41;
}

.add-new-room-form button[type="submit"]:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

/* update-accommodation.css */
.update-accommodation-form {
  background-color: #f7f7f7;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.update-accommodation-form label {
  display: block;
  margin-bottom: 10px;
}

.update-accommodation-form input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
}

.update-accommodation-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
}

.update-accommodation-form button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}

.update-accommodation-form button[type="submit"]:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.update-accommodation-form button[type="submit"]:hover {
  background-color: #3e8e41;
}

.nav button {
  background-color: #4CAF50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.nav button:hover {
  background-color: #3e8e41;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.username{
  display: flex;
  align-items: center;
}
.main-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.logout{
  background-color: red;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  max-height: 40px;
}

.logout:hover {
  background-color: rgba(253, 71, 71, 0.671);
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

td .edit{
  background-color: #4CAF50;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  min-height: 21.33px;
  margin: 2.5px;
}
td .edit:hover{
  background-color: #3e8e41;
}

td .remove{
  background-color: red;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin: 2.5px;
  min-height: 21.33px;
}
td .remove:hover{
  background-color: rgba(253, 71, 71, 0.671)1;
}